<html>
    <head>
        <title> Craigslist Free stuff in {{zip}}</title>
    </head>
    <body>

      <table>
              <tr>
                      <td>
                        <img src="/images/cgeorge.png">
                      </td>

                      <td>
                        <font size=7 face ="Comic Sans MS">
                          SHOULDIPICKITUP.COM
                        </font>

                        <P>

                        <font size=3 face ="Comic Sans MS">See the top free items on Craigslist and how much you can command on Ebay in one click!
                        </font>

                        <a href="http://ride.lyft.com" target="_blank">
                          <img src=/images/lyft.png></a>
                        </a>

                        <a href="http://ride.lyft.com" target="_blank">
                         <P>
                           <font size=3 face ="Comic Sans MS">Order a Lyft now!
                           </font>
                        </a>

                      </td>
              </tr>
      </table>

<P>


      <table border=0>

        <font size=3 face ="Comic Sans MS">
        Please submit a 5 digit zip code.
        </font>

        <P>

        <form>
            <input type="button" value="Try Again" onclick="history.back()">
        </form>

      </table>




    </body>
</html>
