<html>
    <head>
        <title> Craigslist Free stuff in {{zip}}</title>
    </head>
    <body>

      <table>
              <tr>
                      <td>
                        <img src="{{ url_for('static', filename='cgeorge.png')}}"/>
                      </td>

                      <td>    <font size=7>SHOULDIPICKITUP.COM</font>
                           <P><font size=3>See the top free items on Craigslist and how much you can
                                   command on Ebay in one click!</font>
                           <P><font size=3>Order a Lyft now!</font>
                      </td>
              </tr>
      </table>

<P>




      <table border=0>

        Please submit a 5 digit zip code.

        <P>

        <form>
            <input type="button" value="Try Again" onclick="history.back()">
        </form>

      </table>




    </body>
</html>
